
body {
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
}
.hero{
  margin-top: -100px;
  background: url(images/mountains.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
  color: white;
  text-align: center;
}
#pretitle{
  padding-top: 200px;

}
#title{
  margin-top: -25px;
  font-size: 11.5vw;
  margin-bottom: 5px;
}
#title-description{
  width: 40%;
  text-align: center;
  margin: 0 auto ;
  margin-bottom: 130px;
}
#treasure-link{
text-decoration: none;
color: white;
}

#treasure-link:hover{
  color: black;
}
#line{
  line-height: .8;
}

#treasure-island{
  padding-left: 85px;
}

#treasure-island-title{
  margin-top: 65px;
  text-align: center;
  text-decoration: underline;
}

#map {
  float: left;
  margin-right: 10px;
  width: 450px;
  margin-top: 60px;
}

.paragraph {
  margin-top: 50px;
  overflow:auto;
  display:block;
  width: 40%;
}
#second-paragraph{
  font-style: italic;
}
#kilo{
  margin-top: 30px;
  border-left: 2px solid #9F7800;
  margin-left: 100px;
  padding-left: 10px;
  color: #9F7800;
  display: block;
}
#kilo-number{
  font-size: 45px;
  margin-bottom: 0.5%;
}
#kilo-text{
  font-size: 10px;
}

#hut{
  display: inline-block;
  float: right;
  width: 250px;
  margin-top: -100px;
}

p{
  line-height: 1.8;
}

@media (max-width: 700px) {
  #map {
    float: left;
    margin-right: 10px;
    width: 350px;
    margin-top: 0px;
  }
  .paragraph{
    width: 100%;
  }
  #hut{
    display: inline-block;
    float: right;
    width: 250px;
    margin-top: 0px;
  }
  #title{
    margin-top: -25px;
    font-size: 65px;
  }


}


/*p.clear {
    clear:both;
}*/
